extends ../template/master.pug

block content
    each det in dets
        section.hero-item
            .boxcontain
                h1.title
                    font(size="7" color="white") Renting Details
                    hr
                    .column
                    .box
                        .field(style="color: black")
                            <center>
                            strong
                                font(size="7" color="black")= `${det.item_name}` 
                            hr
                            </center>
                            h1= `Category: ${det.cat_name}`
                            h1= `Owner: ${det.user_fullname}`
                            h1= `Price(/hr): P${det.price_per_hr}`
                            h1= `Quantity: ${det.qty_rented}`
                            h1= `Start: ${det.start}`
                            h1= `Time Used: ${use}`
                            h1= `Price: P${price}`
                        .field    
                            a.button.is-danger.is-pulled-left(href="javascript:history.back()") Back